<h1>Log In</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<div class="row">
  <div class="large-12 columns">

    <%= form_for @user, :url => { :controller => "sessions", :action => "create" } do |f| %>
      <%= f.label :email %>
      <%= f.text_field :email, :placeholder => "Enter your email" %>
      <%= f.label :password %>
      <%= f.password_field :password, :placeholder => "Enter your password" %>
      <%= f.submit "Log in"%>

    <% end %>

  </div>
</div>
