<div class="row main">
  <div class="large-6 large-offset-3 columns">

    <h1 class="text-center">Log In</h1>
    <p class="text-center"><em>Find me in app/views/sessions/new.html.erb</em></p>

    <%= form_for @user, :url => { :controller => "sessions", :action => "create" } do |f| %>
      <%= f.label :email %>
      <%= f.text_field :email, :placeholder => "Enter your email" %>
      <%= f.label :password %>
      <%= f.password_field :password, :placeholder => "Enter your password" %>
      <%= f.submit "Log in"%>

    <% end %>

  </div>
</div>
